body{
    text-align: center;
    background-image: url("background.png");
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 120px;
}

h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    text-decoration: underline ;
}

h2{
    font-size: 36px;
    text-decoration: underline;
}

h3{
    font-size: 26px;
}

section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: stretch; /* force même hauteur */
    padding: 40px;
}

/* CARTE */
section div {
    width: 350px;
    background: rgba(0, 117, 184, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 116, 184, 0.08);

    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s;
}

section div:hover {
    transform: translateY(-10px);
}

/* Images */
img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.05);
}

/* Texte */
p {
    font-size: 17px;
    min-height: 70px; /* IMPORTANT pour alignement */
}

.renseignement {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: linear-gradient(
        135deg,
        rgba(0, 40, 80, 0.85),
        rgba(40, 0, 70, 0.85)
    );

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-top: 1px solid rgba(255,255,255,0.1);

    padding: 20px;
    text-align: center;
    color: white;

    z-index: 1000; /* pour être au-dessus */
    animation: slideUp 1s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

a {
    color: white; /* texte par défaut en blanc */
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

a:hover {
    background: linear-gradient(135deg, #004080, #400060); /* gradient au survol */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}